.letra{
    color: red;
    font-family: 'Franklin Gothic Medium';
}
.fondo{
    background-color: aqua;
    text-align: center;
}
.tabla{
    display: flex;
    justify-content: center;
}
.cajas th{
    border: 1px solid black;
}
.cajas span{
    border: 1px solid black;
}
